<section>
    <div class="auth-container">
        <div class="auth-content">
            <div class="toggle-buttons">
                <button class="toggle-btn" [class.active]="showSignIn" (click)="showSignIn = true">
                    {{ 'AUTH_TAB_SIGNIN' | translate }}
                </button>
                <button class="toggle-btn" [class.active]="!showSignIn" (click)="showSignIn = false">
                    {{ 'AUTH_TAB_SIGNUP' | translate }}
                </button>
            </div>

            <div class="form-container">
                <app-signin *ngIf="showSignIn"></app-signin>
                <app-signup *ngIf="!showSignIn"></app-signup>
            </div>
        </div>
    </div>
</section>