<form class="form" [formGroup]="formInfo" (ngSubmit)="login()">
    <p class="title">{{ 'SIGNIN_TITLE' | translate }}</p>
    <p class="message">{{ 'SIGNIN_MESSAGE' | translate }}</p>

    <label>
        <input required placeholder="" type="email" class="input" formControlName="email">
        <span>{{ 'SIGNIN_EMAIL' | translate }}</span>
    </label>

    <label>
        <input required placeholder="" type="password" class="input" formControlName="password">
        <span>{{ 'SIGNIN_PASSWORD' | translate }}</span>
    </label>

    <button class="submit" type="submit">{{ 'SIGNIN_BUTTON' | translate }}</button>

    <div *ngIf="feedbackMessage" [ngClass]="{
         'feedback': true,
         'success': feedbackType === 'success',
         'error': feedbackType === 'error'
       }">
        {{ feedbackMessage }}
    </div>
</form>