.active {
    background-color: green;
    border: 1px solid green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.inactive {
    background-color: red;
    border: 1px solid red;
    width: 50px;
    height: 50px;
}

.IsActive{
    width:300px;
    height:300px;
    background-color:blue;
    border-radius: 50%;
}

.NotActive{
    width:300px;
    height:300px;
    background-color:red;
}