<h2 mat-dialog-title style="display: flex; justify-content: space-between; align-items: center; position: relative;">
    {{ 'AUTH_MODAL_TITLE' | translate }}
    <button class="close-btn" (click)="onClose()" aria-label="Close" style="margin-left: auto;">
        <span class="material-icons" aria-hidden="true">close</span>
    </button>

</h2>
<mat-tab-group>
    <mat-tab [label]="'AUTH_TAB_SIGNIN' | translate">
        <app-signin (loginSuccess)="onAuthSuccess()"></app-signin>
    </mat-tab>
    <mat-tab [label]="'AUTH_TAB_SIGNUP' | translate">
        <app-signup (registerSuccess)="onAuthSuccess()"></app-signup>
    </mat-tab>
</mat-tab-group>