<h2 mat-dialog-title style="display: flex; justify-content: space-between; align-items: center; position: relative;">
    Sign In ან Sign Up
    <button class="close-btn" (click)="onClose()" aria-label="Close" style="margin-left: auto;">
        <span class="material-icons" aria-hidden="true">close</span>
    </button>

</h2>
<mat-tab-group>
    <mat-tab label="Sign In">
        <app-signin (loginSuccess)="onAuthSuccess()"></app-signin>
    </mat-tab>
    <mat-tab label="Sign Up">
        <app-signup (registerSuccess)="onAuthSuccess()"></app-signup>
    </mat-tab>
</mat-tab-group>