<div class="signup-modal-bg">
    <form class="form form-modal" [formGroup]="formInfo" (ngSubmit)="register()">
        <button type="button" class="close-btn" (click)="closeModal()" aria-label="Close">&times;</button>
        <p class="title">{{ 'SIGNUP_TITLE' | translate }}</p>
        <p class="message">{{ 'SIGNUP_MESSAGE' | translate }}</p>

        <div class="flex">
            <label>
                <input required="" placeholder="" type="text" class="input" formControlName="firstName">
                <span>{{ 'SIGNUP_FIRSTNAME' | translate }}</span>
            </label>

            <label>
                <input required="" placeholder="" type="text" class="input" formControlName="lastName">
                <span>{{ 'SIGNUP_LASTNAME' | translate }}</span>
            </label>
        </div>

        <label>
            <input required="" placeholder="" type="number" class="input" formControlName="age">
            <span>{{ 'SIGNUP_AGE' | translate }}</span>
        </label>

        <label>
            <input required="" placeholder="" type="email" class="input" formControlName="email">
            <span>{{ 'SIGNUP_EMAIL' | translate }}</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input" formControlName="password">
            <span>{{ 'SIGNUP_PASSWORD' | translate }}</span>
        </label>

        <label>
            <input required="" placeholder="" type="password" class="input" formControlName="confirmPassword">
            <span>{{ 'SIGNUP_CONFIRM_PASSWORD' | translate }}</span>
        </label>

        <label>
            <input required="" placeholder="" type="tel" class="input" formControlName="phone">
            <span>{{ 'SIGNUP_PHONE' | translate }}</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" formControlName="address">
            <span>{{ 'SIGNUP_ADDRESS' | translate }}</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" formControlName="zipcode">
            <span>{{ 'SIGNUP_ZIPCODE' | translate }}</span>
        </label>

        <label>
            <input required="" placeholder="" type="text" class="input" formControlName="avatar">
            <span>{{ 'SIGNUP_AVATAR_URL' | translate }}</span>
        </label>

        <div class="gender-field">
            <label>
                <select class="input" formControlName="gender">
                    <option value="">{{ 'SIGNUP_CHOOSE_GENDER' | translate }}</option>
                    <option value="MALE">&#9794; {{ 'SIGNUP_MALE' | translate }}</option>
                    <option value="FEMALE">&#9792; {{ 'SIGNUP_FEMALE' | translate }}</option>
                </select>
                <span>{{ 'SIGNUP_GENDER' | translate }}</span>
            </label>
        </div>

        <button class="submit" type="submit">{{ 'SIGNUP_SUBMIT' | translate }}</button>
        <p class="signin">{{ 'SIGNUP_ALREADY_ACCOUNT' | translate }} <a href="#" (click)="goToSignIn($event)">{{
                'SIGNUP_SIGNIN_LINK' | translate }}</a></p>
    </form>


</div>